/*---------------*/

/*--- GENERAL---*/

/*-------------*/

* {
  box-sizing: border-box;
}

.logo-header {
  margin-left: 5.5rem !important;
}

.bubble-icon {
  margin-left: -58px;
  margin-bottom: 27px;
}

.page-heading {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

/*-------------*/

/* TOP BANNER */

/*-----------*/

.line-blue {
  background-color: #003674;
  height: 17px;
}

.banner-top-wrap {
  display: flex;
  flex-flow: row wrap;
  background-color: #f1f2f3;
  margin-bottom: 50px;
}

.banner-top__image {
  flex: 0 0 100%;
  background-color: red;
  background-image: url('../images/book.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 410px;
  position: relative;
}

.banner-top__info {
  padding-top: 50px;
  height: 300px;
  background-color: #f1f2f3;
  padding-left: 20px;
  position: relative;
  flex: 0 0 100%;
}

.banner-top__text {
  margin-bottom: 20px;
}

.banner-top__text * {
  text-align: left;
}

.banner-top__text h2 {
  font-size: 26px;
}

.banner-top__text p {
  font-size: 22px;
}

.banner-top__button {
  background-color: transparent;
  border: 1px solid #555;
  padding: 10px 20px;
  cursor: pointer;
  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 3%;
  bottom: 2%;
}

.book-heading {
  position: absolute;
  z-index: 3500;
  bottom: 0;
  left: 6%;
  color: #000;
}

/*-----------------------*/

/* OFFERS CARDS SECTION */

/*---------------------*/

.offer-cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.offer-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 0 20px;
  position: relative;
  background-color: #f1f2f3;
}

.offer-card__image-wrap {
  background-color: #f1f2f3;
  height: 450px;
}

/*-------CLIP PATH SUBSTITUTE
.offer-card__image:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-width: 30px 768px 0 0;
  border-color: transparent #f1f2f3 transparent transparent;
  border-style: solid;
  z-index: 1;
  content: '';
}
-------------*/

.offer-card__image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  z-index: 1000;
}

.offer-card__info {
  position: relative;
  padding: 0.625rem
}

.offer-card__info h3 {
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.offer-card__info p {
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 22px;
  text-align: left;
}

.offer-card__info-content {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.offer-card__button-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}

.offer-card__button {
  background-color: transparent;
  border: 1px solid #555;
  padding: 10px 20px;
  cursor: pointer;
  color: #353b42;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/*----------------------*/

/* OFFER CARDS RIBBONS */

/*--------------------*/

.ribbon {
  position: absolute;
  top: 4%;
  margin-right: -5px;
  right: 0;
  height: 40px;
  text-align: center;
}

.ribbon * {
  color: #fff;
  margin: 0;
  font-size: 22px;
  margin-top: 3px;
}

.ribbon.ribbon-red {
  background-image: url('../images/ribbons\ \ image\ \ LG\ \ 02-highlight\ 2.png');
  width: 120px;
}

.ribbon.ribbon-red-top {
  background-image: url('../images/ribbons\ \ image\ \ LG\ \ 02-highlight\ 2.png');
  width: 120px;
  top: 5%;
  margin: 0;
}

.ribbon.ribbon-blue {
  background-image: url('../images/ribbons\ \ image\ \ LG\ \ 02-highlight\ 1.png');
  width: 182px;
}

/*---------------------*/

/* OFFER CARDS CLOUDS */

/*-------------------*/

.cloud {
  position: absolute;
  margin-top: -10px;
  margin-left: -25px;
  padding: 0;
  width: 230px;
  height: 230px;
}

.cloud * {
  color: #fff;
}

.cloud div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  display: inline-block;
}

.cloud sup {
  font-size: 10px;
}

.cloud h2>span {
  border-bottom: none;
  padding: 0;
  display: inline-block;
}

.cloud h2, .cloud p {
  margin: 0
}

.cloud__content {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/Lidl-Partnervorteile_Bubble_blau.png');
  display: inline-block;
  text-align: center;
  z-index: 25;
  padding: 60px 60px 100px 60px;
}

.cloud__content>div {
  font-size: 16px;
}

.cloud__content>h2 {
  font-size: 20px;
}

.cloud.cloud--red .cloud__content {
  background-image: url('../images/Lidl-Partnervorteile_Bubble_rot.png');
}

/*------------------------*/

/* CUSTOM LOGO POSITIONS */

/*----------------------*/

.gymondo-logo {
  position: absolute;
  max-width: 150px;
  top: 3%;
  right: 4%;
}

.scoyo-logo {
  position: absolute;
  right: 33%;
  top: 5%;
  max-width: 80px;
}

.framily-logo {
  position: absolute;
  max-width: 150px;
  right: 0;
  top: 0;
}

.readly-logo {
  position: absolute;
  max-width: 125px;
  top: 3%;
  right: 3%;
}

.eon-logo {
  position: absolute;
  max-width: 120px;
  top: 2%;
  right: 2%;
}

.twogo-logo {
  position: absolute;
  top: 1%;
  right: 1%;
}

.bookbeat-logo {
  position: absolute;
  bottom: 7%;
  left: 3%;
  max-width: 200px;
}

.lidl-partnervorteile-logo {
  display: none;
}

.overlap-img {
  display: none;
}

/*-----------------*/

/* CONTENT BANNER */

/*---------------*/

.content-banner {
  height: 400px;
  background-color: #4e5761;
  margin-bottom: 60px;
  display: table-row-group;
}

.content-banner h2 {
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 34px;
  font-weight: 600;
  line-height: 40.8px;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 0;
}

.content-banner__icons {
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  color: white;
  font-size: 1rem;
  letter-spacing: 0;
}

.content-banner__wrap {
  max-width: 78rem;
  margin: 0 auto;
}

.content-banner__wrap>ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.content_banner__icons-background {
  padding: 1rem 0.5rem;
}

.content-banner__list-elem {
  display: block;
  margin-top: 25px;
  width: 50%;
  text-align: center;
}

.content-banner__list-elem a {
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Semibold';
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  text-decoration: none;
}

.content-banner__text p {
  color: #ffffff;
  font-family: Lidl-Font, 'LidlFontCondPro-Regular';
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  width: 60%;
}

/*----------------*/

/* BOTTOM BANNER */

/*--------------*/

.banner-bottom-wrap {
  background-image: url('../images/banner-bottom.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 150px;
  padding: 50px 0;
}

.banner-bottom__text {
  color: #155583;
  font-size: 36px;
  font-weight: 600;
}

button.banner-bottom__button {
  color: #fff;
  text-transform: none;
  padding: 0;
  background-color: #fc8628;
  font-size: 24px;
  padding: 12px 0 12px 12px;
  border-radius: 3px;
  width: 75%;
  text-align: left;
}

button.banner-bottom__button:after {
  content: url('../images/arrow-20-24.png');
  vertical-align: middle;
  float: right;
  margin-right: 15px;
}

.text-bottom {
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .lidl-partnervorteile-logo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -40px;
    max-width: 175px;
  }
  .gymondo-logo {
    max-width: 200px;
  }
  .scoyo-logo {
    max-width: 120px;
    top: 4%;
    right: 25%;
  }
  .overlap-img {
    display: block;
    position: absolute;
    z-index: 1500;
    max-width: 220px;
    right: 3%;
    bottom: 19%;
  }
  .banner-top__image {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
    flex: 0 0 75%;
  }
  .banner-top__info {
    flex: 0 0 25%;
    padding-top: 130px;
    height: 400px;
  }
  .banner-top-wrap {
    margin-bottom: 20px;
  }
  .banner-top__button {
    left: 45%;
    right: 6%;
    bottom: 2%;
  }
  .offer-cards-row {
    margin: 0 -.625rem;
  }
  .offer-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 0 10px 20px;
    position: relative;
  }
  .offer-card__text {
    padding-right: 0.625rem;
  }
  .offer-card__info {
    padding: 1.25rem
  }
  .offer-card__info-content {
    flex-direction: row;
  }
  .ribbon.ribbon-red-top {
    margin-right: -2px;
  }
  .cloud {
    margin-left: -26px;
    width: 100%;
    height: auto;
  }
  .cloud sup {
    font-size: 12px;
  }
  .cloud__content {
    padding: 60px 75px 100px 75px;
  }
  .cloud__content>div {
    font-size: 18px;
  }
  .cloud__content>h2 {
    font-size: 26px;
  }
  .cloud span {
    margin-bottom: 5px;
  }
  .content-banner {
    height: 380px;
    display: block;
    margin: 0;
  }
  .content-banner__text p {
    margin-bottom: 0;
  }
  .content-banner__list-elem {
    text-align: center;
    display: block;
    width: calc(100% / 4);
    margin: 0;
  }
  .content-banner h2 {
    padding: 20px 0 0 0;
  }
  .banner-bottom-wrap {
    min-height: 300px;
    text-align: right;
  }
  .banner-bottom__content {
    display: inline-block;
    text-align: left;
  }
  button.banner-bottom__button {
    width: 100%;
  }
}